article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { overflow-y: scroll; }
html { min-height: 100%; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
.josefin { font-family: 'CaviarDreamsRegular'; }
.amaranth { font-family: 'Amaranth', sans-serif; }
html {
  background: #d3f1f4;
  background: -webkit-gradient(linear, left 55, left bottom, from(#d3f1f4), to(#79989c));
  background: -moz-linear-gradient(center top, #d3f1f4 0%, #79989c 100%);
  background: -moz-gradient(center top, #d3f1f4 0%, #79989c 100%);
  background: -o-linear-gradient(#d3f1f4 0%, #79989c 100%);
  background: gradient(#d3f1f4 0%, #79989c 100%);
  font-style: italic;
  font-weight: 400;
}
body {
  background: url(../images/background2.png) no-repeat top center;
  color: #636363;
  font-family: 'Amaranth', sans-serif;
  font-size: 14px;
}
.container {
  padding: 35px;
  background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 { font-style: normal; }
h1.page-title { text-align: center; }
h1 {
  font-size: 4.571em;
  font-family: 'CaviarDreamsRegular';
  text-transform: uppercase;
}
h1.entry-title, h2.entry-title {
  font-family: 'CaviarDreamsRegular';
  text-align: center;
  font-size: 4.571em;
  text-transform: uppercase;
  margin: 7px 0 30px 0;
}
h2.wum-archives {
  font-size: 2.571em;
  font-weight: 700;
  font-family: 'Amaranth', sans-serif;
  text-align: left;
  margin-bottom: 0px;
  font-style: italic;
  margin-top: 10px;
  text-transform: none;
}
h2.wum-archives a { color: #111111; }
h2 {
  font-size: 2.571em;
  font-weight: 400;
}
h3 { font-size: 1.357em; }
a {
  color: #7cc2c6;
  text-decoration: none;
}
strong, blockquote { font-weight: 700; }
hr.archives { margin-top: 25px; }
.tar { text-align: right; }
header {
  margin: 0 auto;
  text-align: center;
}
header #header {
  width: 985px;
  margin: 0 auto;
}
header #header h2#site-description { display: none; }
header #header img.logo { margin-top: 45px; }
header #header h1.debra {
  width: 300px;
  float: left;
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 216px;
  font-size: 4em;
}
header #header h1.bridgette {
  width: 300px;
  float: left;
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 216px;
  font-size: 4em;
}
header #header h1.debra {
  text-align: left;
  padding-left: 50px;
}
header #header h1.bridgette {
  text-align: right;
  padding-right: 50px;
}
body.home #header {
  background: url(../images/girls.png) no-repeat center bottom;
  height: 343px;
}
body.home #header h1#site-title {
  width: 285px;
  float: left;
}
body.home #header img.home-logo { margin-top: 60px; }
nav {
  background: #353630;
  display: block;
  float: left;
  width: 100%;
  margin-top: 25px;
  height: 50px;
  font-family: 'CaviarDreamsRegular';
  font-weight: 400;
  font-style: normal;
}
nav .menu-header {
  margin: 0 auto;
  width: 985px;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
nav .menu-header li {
  position: relative;
  display: inline;
}
nav div.menu {
  margin: 0 auto;
  width: 985px;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
nav div.menu li {
  position: relative;
  display: inline;
}
nav a {
  color: #ffffff;
  line-height: 53px;
  padding: 0 10px;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #353630;
}
nav a:active { color: #73afb2; }
nav ul ul {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  float: left;
  width: 180px;
  z-index: 99999;
}
nav ul ul li { min-width: 180px; }
nav ul ul ul {
  left: 100%;
  top: 0;
}
nav ul ul a {
  background: #333333;
  line-height: 1em;
  padding: 10px;
  width: 160px;
  height: auto;
}
nav ul ul a:active { color: #73afb2; }
nav li:hover > a { color: #73afb2; }
nav ul ul:hover > a { color: #73afb2; }
nav li:active > a { color: #73afb2; }
nav ul ul:active > a { color: #73afb2; }
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a { color: #73afb2; }
nav ul li.current-menu-ancestor > a { color: #73afb2; }
nav ul li.current-menu-item > a { color: #73afb2; }
nav ul li.current-menu-parent > a { color: #73afb2; }
* html nav ul li.current_page_item a { color: #73afb2; }
* html nav ul li.current-menu-ancestor a { color: #73afb2; }
* html nav ul li.current-menu-item a { color: #73afb2; }
* html nav ul li.current-menu-parent a { color: #73afb2; }
* html nav ul li a:hover { color: #73afb2; }
footer {
  clear: both;
  width: 100%;
  background-color: #000000;
  height: 578px;
}
footer #footer {
  width: 915px;
  margin: 0 auto;
  padding: 75px 35px;
  color: #727272;
}
footer #footer h1 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h2 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h3 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h4 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h5 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h6 {
  color: #727272;
  margin-bottom: 0.3em;
}
footer #footer h3 { font-style: italic; }
footer #footer p { font-size: 0.857em; }
footer #footer a { font-size: 0.857em; }
footer #footer p { margin: 0 0 3em; }
footer #footer img.alignleft { margin-right: 14px; }
footer #footer a {
  display: block;
  float: left;
}
footer #footer a:hover {
  text-decoration: underline;
  color: #7cc2c6;
}
footer #footer a img {
  display: block;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
footer #footer a img.sm { margin-top: -5px; }
footer #footer .push-74 { margin-left: 74px; }
footer #footer .poosh-20 { margin-right: 20px; }
footer #footer .pad-60 {
  padding-left: 60px;
  width: 157px;
}
footer #footer #site-info {
  clear: both;
  padding-top: 20px;
}
footer #footer #site-info a {
  display: inline;
  float: none;
}
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #73afb2;
  color: #ffffff;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wp-paginate a:hover {
  background: #000000;
  color: #ffffff;
}
.wp-paginate a:active {
  background: #000000;
  color: #ffffff;
}
.wp-paginate .title {
  color: #ffffff;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #ffffff;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ffffff;
  background: #f75fd3;
  margin-right: 4px;
  padding: 3px 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#contact-form {
  background-color: #000000;
  background: #000000;
  background-image: -webkit-gradient(radial, top center, 325px, top center, contain, from(#000000), to(#999999));
  background-image: -webkit-radial-gradient(top center, 325px 335px, #999999 -100%, #000000 100%);
  background-image: -webkit-radial-gradient(top center, 325px 335px, #999999 -100%, #000000 100%);
  background-image: -moz-radial-gradient(top center, circle, #999999 -100%, #000000 100%);
  background-image: -ms-radial-gradient(top center, 325px 335px, #999999 -100%, #000000 100%);
  background-image: -o-radial-gradient(top center, 325px 335px, #999999 -100%, #000000 100%);
  background-image: radial-gradient(top center, 325px 335px, #999999 -100%, #000000 100%);
  width: 513px;
  height: 360px;
  padding: 15px 40px 30px 40px;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
}
#contact-form input[type="text"] { margin: 1px 0 6.7px 0; }
#contact-form input[type="password"] { margin: 1px 0 6.7px 0; }
#contact-form input.text { margin: 1px 0 6.7px 0; }
#contact-form input.title { margin: 1px 0 6.7px 0; }
#contact-form textarea { margin: 1px 0 6.7px 0; }
#contact-form select { margin: 1px 0 6.7px 0; }
#contact-form h2 {
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}
#contact-form p { margin-bottom: 0; }
#contact-form p.contact {
  font-style: italic;
  text-align: center;
  font-size: 16px;
  padding: 0px 55px;
  margin-bottom: 35px;
}
#contact-form #col-left {
  width: 185px;
  margin-right: 12px;
  float: left;
}
#contact-form #col-right {
  width: 316px;
  float: left;
}
#contact-form label {
  font-size: 16px;
  font-weight: normal;
}
#contact-form textarea {
  width: 305px;
  height: 127px;
  margin: 0px;
}
#contact-form input {
  width: 185px;
  height: 21px;
}
#contact-form input[type="submit"] {
  float: right;
  margin-top: 7px;
  width: 66px;
  height: 36px;
  border: none;
  background-color: #f75fd3;
  background: url(../images/send.png) no-repeat;
  color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.wpcf7-response-output {
  margin: 0 !important;
  padding: 0 !important;
}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
  display: block;
  width: 445px;
  position: relative;
  top: -54px;
  left: 202px;
  border: none !important;
  margin-bottom: -21px !important;
}
div.wpcf7-mail-sent-ok { color: #f75fd3; }
div.wpcf7-validation-errors { color: yellow; }
div.wpcf7-mail-sent-ng { color: red; }
span.wpcf7-not-valid-tip {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  z-index: 100;
  border: none !important;
  background: transparent !important;
  font-size: 10pt;
  width: 280px;
  padding: 2px;
  color: red;
}
div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  position: relative;
  top: 12px;
  left: 227px;
}
.blogging-articles .post {
  background-color: #dfdfdf;
  padding: 30px;
}
.blogging-articles .post .author-avatar {
  width: 85px;
  float: left;
  margin-right: 25px;
}
.blogging-articles .post .blog-content {
  width: 745px;
  float: left;
}
.blogging-articles .post .entry-content {
  font-family: 'Droid Serif', Georgia, serif;
  font-style: normal;
  font-size: 16px;
}
.blogging-articles .post h1.entry-title {
  font-size: 36px;
  font-family: 'Amaranth', sans-serif;
  text-align: left;
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}
.blogging-articles .article {
  background-color: #dfdfdf;
  padding: 30px;
}
.blogging-articles .article .author-avatar {
  width: 85px;
  float: left;
  margin-right: 25px;
}
.blogging-articles .article .blog-content {
  width: 745px;
  float: left;
}
.blogging-articles .article .entry-content {
  font-family: 'Droid Serif', Georgia, serif;
  font-style: normal;
  font-size: 16px;
}
.blogging-articles .article h1.entry-title {
  font-size: 36px;
  font-family: 'Amaranth', sans-serif;
  text-align: left;
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}
.blogging-articles .entry-meta {
  font-size: 19px;
  margin-bottom: 15px;
}
.blogging-articles .entry-utility { font-size: 19px; }
.blogging-articles div.clear { height: 0; }
#comments { clear: both; }
#comments .navigation { padding: 0 0 18px 0; }
h3#comments-title, h3#reply-title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
  font-style: italic;
}
h3#comments-title { padding: 24px 0; }
.commentlist {
  list-style: none;
  margin: 0;
}
.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 0 56px;
  position: relative;
}
.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#comments .comment-body ul { margin-bottom: 18px; }
#comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}
.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
.comment-author .says { font-style: italic; }
.comment-meta {
  font-size: 12px;
  margin: 0 0 18px 0;
}
.reply {
  font-size: 12px;
  padding: 0 0 24px 0;
}
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li {
  border: none;
  margin: 0;
}
.nopassword, .nocomments { display: none; }
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.commentlist li.comment + li.pingback { margin-top: -6px; }
#comments .pingback p {
  color: #888888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
input[type=submit] { color: #333333; }
#respond {
  border-top: 1px solid #e7e7e7;
  margin: 24px 0;
  overflow: hidden;
  position: relative;
}
#respond p { margin: 0; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
h3#reply-title { margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0; }
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
#respond .required {
  color: #ff4b33;
  font-weight: bold;
}
#respond label {
  color: #888888;
  font-size: 12px;
}
#respond input {
  margin: 0 0 9px;
  width: 98%;
}
#respond textarea { width: 98%; }
#respond .form-allowed-tags {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { margin: 12px 0; }
#respond .form-submit input {
  font-size: 14px;
  width: auto;
}
#disqus_thread h3 {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
body.page-id-161 #disqus_thread h3:after { content: "/questions"; }
body.page-id-153 #disqus_thread h3:after { content: "/questions"; }
body.page-id-161 #disqus_thread .dsq-reply h3:after { content: " or Question"; }
body.page-id-153 #disqus_thread .dsq-reply h3:after { content: " or Question"; }
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 17px;
  margin-top: 4px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 17px;
  margin-top: 4px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  padding: 4px;
  text-align: center;
}
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text {
  color: #888888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley { margin: 0; }
.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img { border: 2px solid #cfcfcf; }
.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.gallery .gallery-caption {
  color: #888888;
  font-size: 12px;
  margin: 0 0 12px;
}
.gallery dl { margin: 0; }
.gallery img { border: 10px solid #f1f1f1; }
.gallery br + br { display: none; }
#content .attachment img {
  display: block;
  margin: 0 auto;
}
.question-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #666666;
}
a.question {
  background-color: #f75fd3;
  color: #ffffff;
  font-size: 2.2em;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 65px #f86d6d;
}
.videos-container {
  width: 216px;
  height: 185px;
  margin: 0 7px 7px 0;
  float: left;
}
.videos-container:nth-child(2n) { margin-right: 0px; }
.videos-container2 {
  width: 223px;
  height: 190px;
  margin: 0 7px 7px 0;
  float: left;
}
.videos-container2:nth-child(4n) { margin-right: 0px; }
.page-id-8 .posts-col-2 { margin-bottom: 0px; }
.yt_holder {
  background-color: #111111;
  background: #000000;
  background-image: -webkit-gradient(radial, center center, 550px, center center, contain, from(#000000), to(#999999));
  background-image: -webkit-radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  background-image: -moz-radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  background-image: -ms-radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  background-image: -o-radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  background-image: radial-gradient(center center, 550px 335px, #999999 -100%, #000000 100%);
  width: 985px;
  height: 310px;
  margin-left: -35px;
}
.yt_holder #ytvideo {
  width: 551px;
  margin: 0 auto;
  background-color: transparent;
}
.col-2, .col-4 {
  float: left;
  margin-right: 15px;
}
.col-2 { width: 450px; }
.col-4 { width: 217px; }
.no-mb { margin-bottom: 0; }
.feature-box {
  background-color: #dfdfdf;
  padding: 12px 20px;
  margin-bottom: 20px;
  height: 132px;
}
.feature-box h3 { margin-bottom: 12px; }
.feature-box p {
  font-size: 0.857em;
  margin-bottom: 1px;
  font-weight: 700;
  font-style: normal;
}
.feature-box p img.avatar {
  display: inline;
  float: left;
  margin-right: 17px;
  margin-top: 4px;
}
.feature-box p a.read-more {
  display: block;
  width: 175px;
  margin-top: 10px;
}
.older-entries { margin-bottom: 25px; }
.older-entries h3 {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 10px;
}
.older-entries h4 {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 10px;
}
.older-entries h3 { font-size: 2.2em; }
.older-entries h4 {
  font-size: 0.857em;
  font-weight: 700;
  background-color: #dfdfdf;
  padding: 5px 10px;
  font-style: normal;
}
.older-entries h4 a { font-size: 16px; }
.lbg-box {
  width: 865px;
  height: 299px;
  padding: 25px;
  margin-bottom: 11px;
  background-color: #dddddd;
  position: relative;
}
.lbg-box p { width: 400px; }
.lbg-box p.tr { text-align: left; }
.lbg-box p.bl {
  position: absolute;
  bottom: 0;
}
.lbg-box p.br {
  position: absolute;
  bottom: 0;
  right: 25px;
  text-align: right;
  float: right;
}
.lbg-box:nth-child(3) { margin-bottom: 0; }
.about-wakeup-bg { background: url(../images/about-wakeup.jpg) no-repeat; }
.lbg-debra { background: url(../images/about-debra.jpg) no-repeat; }
.lbg-bridgitte { background: url(../images/about-brigitte.jpg) no-repeat; }
footer.bottom-links {
  height: 30px;
  width: 865px;
  padding: 25px;
  background-color: #dfdfdf;
  margin-bottom: -35px;
}
footer.bottom-links .nav-previous {
  float: left;
  width: 50%;
  margin-bottom: -20px;
}
footer.bottom-links .nav-next {
  float: right;
  text-align: right;
  width: 50%;
  margin-bottom: -20px;
}
footer.bottom-links a {
  line-height: 30px;
  font-size: 19px;
}
.black-bar {
  height: 75px;
  width: 985px;
  margin-left: -35px;
  text-align: center;
  clear: both;
  background: #000000;
  background-image: -webkit-gradient(radial, center center, 299px, center center, contain, from(#000000), to(#999999));
  background-image: -webkit-radial-gradient(center center, 299px 100px, #999999 -200%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, 299px 100px, #999999 -200%, #000000 100%);
  background-image: -moz-radial-gradient(center center, circle, #999999 -200%, #000000 100%);
  background-image: -ms-radial-gradient(center center, 299px 100px, #999999 -200%, #000000 100%);
  background-image: -o-radial-gradient(center center, 299px 100px, #999999 -200%, #000000 100%);
  background-image: -o-radial-gradient(50% 50%, 70% 70%, #4b4bc8, #00004b);
  background-image: radial-gradient(center center, 299px 100px, #999999 -200%, #000000 100%);
}
.black-bar h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 75px;
  font-size: 37px;
  font-family: 'CaviarDreamsRegular';
  text-transform: uppercase;
  font-weight: normal;
}
.black-bar h2.split {
  width: 50%;
  float: left;
}
.posts-col-2 {
  width: 440px;
  float: left;
  margin: 0 35px 27px 0;
}
.posts-col-2 .posts-col-4 {
  width: 156px;
  height: 162px;
  padding: 30px;
  float: left;
  font-size: 14px;
  margin: 0 7px 7px 0;
  background-color: #dfdfdf;
}
.posts-col-2 .posts-col-4 h3.entry-title {
  font-size: 19px;
  margin-bottom: 0;
}
.posts-col-2 .posts-col-4 .posted-on { margin-bottom: 10px; }
.posts-col-2 .posts-col-4 a.read-more {
  display: block;
  margin-top: 10px;
}
.posts-col-2 .posts-col-4:nth-child(2n) { margin-right: 0; }
.old-posts { margin-top: 30px; }
.old-posts h3 {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}
.old-posts h4 {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}
.old-posts a {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}
.old-posts span {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}
.old-posts h4 {
  margin-bottom: 0;
  line-height: 30px;
}
.old-posts span {
  margin-bottom: 0;
  line-height: 30px;
}
#author-description h2 { margin-bottom: 5px; }
.mass-archive-pages .hentry {
  background-color: #dfdfdf;
  padding: 1px 0px 30px 30px;
  margin-bottom: 10px;
}
li.pagenav, li.categories {
  float: left;
  margin-right: 20px;
}
.last { margin-right: 0; }
