article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { overflow-y: scroll; }
html, body { height: 100%; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
header { margin-bottom: 6em; }
nav {
  background: #dddddd;
  display: block;
  float: left;
  margin: 0 auto;
  width: 940px;
}
nav .menu-header {
  font-size: 13px;
  margin-left: 12px;
  width: 928px;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav .menu-header li {
  float: left;
  position: relative;
}
nav div.menu {
  font-size: 13px;
  margin-left: 12px;
  width: 928px;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav div.menu li {
  float: left;
  position: relative;
}
nav a {
  color: #666666;
  display: block;
  line-height: 38px;
  padding: 0 10px;
  text-decoration: none;
}
nav ul ul {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  float: left;
  width: 180px;
  z-index: 99999;
}
nav ul ul li { min-width: 180px; }
nav ul ul ul {
  left: 100%;
  top: 0;
}
nav ul ul a {
  background: #333333;
  line-height: 1em;
  padding: 10px;
  width: 160px;
  height: auto;
}
nav li:hover > a {
  background: #333333;
  color: #ffffff;
}
nav ul ul:hover > a {
  background: #333333;
  color: #ffffff;
}
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a { color: #000000; }
nav ul li.current-menu-ancestor > a { color: #000000; }
nav ul li.current-menu-item > a { color: #000000; }
nav ul li.current-menu-parent > a { color: #000000; }
* html nav ul li.current_page_item a { color: #000000; }
* html nav ul li.current-menu-ancestor a { color: #000000; }
* html nav ul li.current-menu-item a { color: #000000; }
* html nav ul li.current-menu-parent a { color: #000000; }
* html nav ul li a:hover { color: #000000; }
footer { clear: both; }
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #dddddd;
  border: 1px solid #cccccc;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.wp-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ffffff;
  background: #5f87ae;
  border: 1px solid #89adcf;
  margin-right: 4px;
  padding: 3px 6px;
}
#comments { clear: both; }
#comments .navigation { padding: 0 0 18px 0; }
h3#comments-title, h3#reply-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
h3#comments-title { padding: 24px 0; }
.commentlist {
  list-style: none;
  margin: 0;
}
.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 0 56px;
  position: relative;
}
.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#comments .comment-body ul { margin-bottom: 18px; }
#comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}
.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
.comment-author .says { font-style: italic; }
.comment-meta {
  font-size: 12px;
  margin: 0 0 18px 0;
}
.comment-meta a:link {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:active { color: #ff4b33; }
.comment-meta a:hover { color: #ff4b33; }
.reply {
  font-size: 12px;
  padding: 0 0 24px 0;
}
.reply a { color: #888888; }
a.comment-edit-link { color: #888888; }
.reply a:hover { color: #ff4b33; }
a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li {
  border: none;
  margin: 0;
}
.nopassword, .nocomments { display: none; }
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.commentlist li.comment + li.pingback { margin-top: -6px; }
#comments .pingback p {
  color: #888888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
input[type=submit] { color: #333333; }
#respond {
  border-top: 1px solid #e7e7e7;
  margin: 24px 0;
  overflow: hidden;
  position: relative;
}
#respond p { margin: 0; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
h3#reply-title { margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0; }
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
#respond .required {
  color: #ff4b33;
  font-weight: bold;
}
#respond label {
  color: #888888;
  font-size: 12px;
}
#respond input {
  margin: 0 0 9px;
  width: 98%;
}
#respond textarea { width: 98%; }
#respond .form-allowed-tags {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { margin: 12px 0; }
#respond .form-submit input {
  font-size: 14px;
  width: auto;
}
